@inherits ViewPage<Furnace.Boiler.Play.Models.Messages.PageResponse>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Furnace.Boiler.Play</title>
    
</head>
<body>
    <ul>
        @foreach (var p in Model.Pages)
        {
            <li>@p.Title - @p.GetFurId()</li>
        }
    </ul>
</body>
</html>
