@{
    Layout = null;    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Furnace.Boiler.Play</title>
</head>
<body>
    <div>
    </div>
</body>
</html>
